* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('http://t.wallpaperweb.org/wallpaper/nature/1920x1080/Best_Real_World_Full_HD_0009.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
}

a {
  margin-left: 50px;
}

.button_back {
  width: 180px;
  height: 50px;
  outline: none;
  border: none;
  margin-top: 50px;
  background-color: #006666;
  box-shadow: 0 1px 30px 0 #00cccc;
  border-radius: 7px;
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
}

.button_back:hover {
  box-shadow: 0 1px 40px 0 #00cccc;
  background-color: #004d4d;
  font-size: 27px;
  cursor: pointer;
}

.center_container {
  width: 20%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-flow: column wrap;
}

input {
  margin-top: 20px;
  height: 30px;
  font-size: 15px;
  box-shadow: 0 1px 30px 0 #0099e6;
  opacity: 0.95;
  outline: none;
}

input:focus {
  box-shadow: 0 7px 40px 0 #33bbff;
  opacity: 1;
}

input[type="submit"] {
  background-color: #006666;
  color: #ffffff;
  outline: none;
  border: none;
  box-shadow: 0 1px 30px 0 #00cccc;
  border-radius: 7px;
  opacity: 1;
  font-weight: 700;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #004d4d;
  opacity: 1;
  cursor: pointer;
}